@font-face{
    font-family: 'Namecat';
    src:url(./fonts/namecat/Namecat.otf);
}
:root {
    --borderWidth: 7px;
    --height: 24px;
    --width: 12px;
    --borderColor: #78b13f;
  }
body {
    background: url("../images/fondo.jpg")
}
h2{
    font-family:'Courier New', Courier, monospace;
    color: white;
    
}
h1{
    font-family: 'Namecat';
    color: floralwhite;
    font-size: 80px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
}

.btn-primary{
    margin: 2rem;
    text-decoration: none;
    color: white;
    background-color: mediumturquoise;
}
.btn-primary:hover {
    background-color: transparent;
    border: 2px solid mediumturquoise;
    color: mediumturquoise;
}
.btn-info {
    text-decoration: none;
    color: white;
    background-color: rgb(159, 72, 209);
}
.btn-info:hover {
    background-color: transparent;
    border: 2px solid rgb(159, 72, 209);
    color: rgb(159, 72, 209);
}

.containerHelp {
    font-family: Arial, sans-serif;
    color: white;
 }

.board{
    display: flex;
    justify-content: center;
    background-color: goldenrod;
    height: 100vh;
    width: 40vw;
    border-radius: 3%;

}

.row1{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.box {
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
  }
  .circle {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 1px solid black;
    background-color: white;
    border-radius: 50%;
  }

  .check {
    display: inline-block;
    transform: rotate(45deg);
    height: var(--height);
    width: var(--width);
    border-bottom: var(--borderWidth) solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
  }

  .winner {
    display: none;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border: 1px solid black;
  }

.cell{
    width: 20px;
    height: 15px;
    background-color: brown;
}

.boxGeneric{
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
}





